.allproducts {
  width: 100%;
  padding: 60px 0;
  background: #f1efef;
  overflow-x: auto;
  /* position: relative; */
}

.fl-table {
  font-weight: normal;
  border: none;
  border-collapse: collapse;
  width: 100%;
  max-width: 100%;
  white-space: nowrap;
  background-color: rgb(255, 255, 255);
  box-shadow: #39536d8f 0px 0px 15px;
}
.fl-table caption {
  width: 100%;
  height: 60px;
  background: #042654;
  border-radius: 2px 2px 0 0;
  padding: 12px;
  border-bottom: 1px solid #fff;
}

.fl-table caption input {
  width: 300px;
  height: 100%;
  text-indent: 10px;
  font-size: 17px;
  border-radius: 5px;
}
.fl-table thead th {
  color: #ffffff;
  background: #042654;
  font-size: 16px;
  text-transform: capitalize;
  border-right: 4px solid #063a828f;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.fl-table tbody tr {
  border-bottom: 4px solid #f1efef;
}

.fl-table td,
.fl-table th {
  text-align: center;
  padding: 10px;
}

.fl-table td {
  border-right: 4px solid #f1efef;
  font-size: 15px;
}

.fl-table :where(td, th, tr):last-of-type {
  border: none;
}

.img_container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.img_container img {
  width: 500px;
  height: 500px;
  object-fit: contain;
}

/* Responsive */

@media (max-width: 767px) {
  .fl-table {
    display: block;
    max-width: 100%;
  }
  .table-wrapper:before {
    content: "Scroll horizontally >";
    display: block;
    text-align: right;
    font-size: 11px;
    color: white;
    padding: 0 0 10px;
  }
  .fl-table thead,
  .fl-table tbody,
  .fl-table thead th {
    display: block;
  }
  .fl-table thead th:last-child {
    border-bottom: none;
  }
  .fl-table thead {
    float: left;
  }
  .fl-table tbody {
    width: auto;
    overflow-x: auto;
  }
  .fl-table td,
  .fl-table th {
    padding: 20px 0.625em 0.625em 0.625em;
    height: 60px;
    vertical-align: middle;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto;
    width: 120px;
    font-size: 13px;
    text-overflow: ellipsis;
  }
  .fl-table thead th {
    text-align: left;
  }
  .fl-table tbody tr {
    display: table-cell;
  }
  .fl-table tbody tr:nth-child(odd) {
    background: none;
  }
  .fl-table tr:nth-child(even) {
    background: transparent;
  }
  .fl-table tr td:nth-child(odd) {
    background: #f8f8f8;
    border-right: 1px solid #e6e4e4;
  }
  .fl-table tr td:nth-child(even) {
    border-right: 1px solid #e6e4e4;
  }
  .fl-table tbody td {
    display: block;
    text-align: center;
  }
}
